<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles.css">
  <title>Add notes</title>
</head>
<body>
      
  <div class="box">
    <form class="item" action="/submit_note" method="post">
      <input type="text" name="title" placeholder="New Item" autocomplete="off" autofocus="true" required />
      <textarea name="content" placeholder="Write your content here..." rows="5"></textarea>
      <button class="add" type="submit" name="list" value="">Add your note</button>
    </form>
  </div>
  
</body>
</html>

  